*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

img,
picture {
  max-width: 100%;
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  background-color: #fff;
}

.button {
  background-color: #3065f8;
  color: #f6f6fe;
  width: 100%;
  border-radius: 0.3rem;
  border: 0.05rem solid transparent;
  padding: 1.2rem;
  font-weight: 700;
  transition: all 0.3s;
}
.button:hover {
  cursor: pointer;
  opacity: 0.8;
}
@media (min-width: 1140px) {
  .button__accessible {
    width: 40%;
  }
}
.button__subscription {
  max-width: 24rem;
}
@media (min-width: 1140px) {
  .button__subscription {
    padding: 1.5rem;
    width: 20rem;
  }
}

.fylo__form {
  max-width: 50rem;
  margin: 0 auto;
}
@media (min-width: 810px) {
  .fylo__form--accessible {
    margin: unset;
  }
}
@media (min-width: 1140px) {
  .fylo__form--accessible {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    max-width: 52rem;
    width: 100%;
  }
}
.fylo__form--subscription {
  display: flex;
  flex-direction: column;
  padding: 0 3rem;
}
@media (min-width: 810px) {
  .fylo__form--subscription {
    width: 40rem;
  }
}
@media (min-width: 1140px) {
  .fylo__form--subscription {
    grid-column: 2/3;
    width: 100%;
    padding: 0 0 0 5rem;
    max-width: 52rem;
  }
}
@media (min-width: 1140px) {
  .fylo__form-wrapper--accessible {
    width: 60%;
  }
}
.fylo__email {
  width: 100%;
  padding: 1.2rem;
  border-radius: 0.3rem;
  border: 0.05rem solid #070439;
  margin-bottom: 0.1rem;
}
@media (min-width: 1140px) {
  .fylo__email--subscription {
    padding: 1.5rem;
  }
}
.fylo__error {
  text-align: left;
  font-size: 1.3rem;
  color: #d69aae;
  margin-bottom: 0.1rem;
  visibility: hidden;
}
.fylo__logo {
  width: 8rem;
}
@media (min-width: 810px) {
  .fylo__logo--header {
    width: 17rem;
  }
}
.fylo__logo--footer {
  width: 17rem;
  margin-bottom: 5rem;
  filter: brightness(0) invert(1);
}
@media (min-width: 1140px) {
  .fylo__logo--footer {
    margin-bottom: 3rem;
  }
}
.fylo__list {
  display: flex;
  align-items: center;
  gap: 3rem;
  font-size: 1.2rem;
}
@media (min-width: 810px) {
  .fylo__list {
    gap: 5rem;
  }
}
.fylo__link {
  color: #070439;
  transition: all 0.2s;
}
.fylo__link:hover {
  color: #585989;
}
@media (min-width: 810px) {
  .fylo__link {
    font-size: 1.7rem;
  }
}
.fylo__title {
  font-family: "Raleway", sans-serif;
}
.fylo__title--primary {
  margin: 5rem 0 2rem;
  line-height: 1.5;
  font-size: clamp(2.3rem, 3vw, 4rem);
}
@media (min-width: 810px) {
  .fylo__title--primary {
    margin: 0 0 2rem;
  }
}
.fylo__title--secondary {
  font-size: clamp(1.6rem, 2.8vw, 4rem);
  text-align: center;
  margin-bottom: 3rem;
}
@media (min-width: 810px) {
  .fylo__title--secondary {
    text-align: left;
  }
}
.fylo__title--tertiary {
  font-size: clamp(2.3rem, 3vw, 3rem);
  margin-bottom: 2rem;
}
.fylo__subtitle {
  font-size: clamp(1.5rem, 1.7vw, 1.8rem);
  line-height: 1.5;
  margin-bottom: 3rem;
}
@media (min-width: 810px) {
  .fylo__subtitle {
    max-width: 59rem;
    line-height: 1.3;
  }
}
@media (min-width: 1140px) {
  .fylo__subtitle--secondary {
    font-size: 1.6rem;
    max-width: 54rem;
  }
}
@media (min-width: 1140px) {
  .fylo__subtitle--tertiary {
    color: #f6f6fe;
    font-size: 1.6rem;
    max-width: 55rem;
  }
}

@media (min-width: 810px) {
  .accessible__picture {
    width: 50%;
  }
}
@media (min-width: 810px) {
  .accessible__wrapper {
    text-align: left;
    width: 50%;
  }
}

.productive__section {
  position: relative;
  background-color: #f6f6fe;
}
.productive__picture {
  margin: 0 auto 8rem auto;
  width: 32rem;
  max-width: 60rem;
}
@media (min-width: 810px) {
  .productive__picture {
    margin: auto 2rem;
    width: 40rem;
  }
}
@media (min-width: 1140px) {
  .productive__picture {
    margin: unset;
    width: 40%;
  }
}
.productive__picture--bg {
  position: absolute;
  top: -2%;
}
@media (min-width: 1140px) {
  .productive__picture--bg {
    top: -24%;
  }
}
.productive__info-wrapper {
  padding: 2rem;
}
@media (min-width: 810px) {
  .productive__info-wrapper {
    padding: 0;
  }
}
@media (min-width: 1140px) {
  .productive__info-wrapper {
    width: 60%;
  }
}
.productive__text-wrapper {
  margin-bottom: 4rem;
}
.productive__link-wrapper {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  border-bottom: 0.1rem solid #3c9f8f;
  width: fit-content;
  padding: 0 0 0.5rem 0;
  margin: 0 auto;
  transition: all 0.3s;
}
.productive__link-wrapper:hover {
  cursor: pointer;
  opacity: 0.7;
}
@media (min-width: 810px) {
  .productive__link-wrapper {
    margin: 0;
  }
}
.productive__link {
  font-size: 1.4rem;
}
@media (min-width: 1140px) {
  .productive__link {
    font-size: 1.6rem;
  }
}
.productive__link:active, .productive__link:visited {
  color: #3c9f8f;
}
.productive__arrow {
  width: 1.5rem;
}
.productive__card {
  position: relative;
  text-align: left;
  background-color: #fff;
  border-radius: 0.5rem;
  padding: 3.5rem 2rem 2.5rem 2rem;
  box-shadow: 10px 6px 8px 0px rgba(34, 60, 80, 0.2);
  width: 28rem;
  margin: 0 auto;
}
@media (min-width: 810px) {
  .productive__card {
    margin: 0;
  }
}
.productive__card::before {
  content: url("./../images/icon-quotes.svg");
  position: absolute;
  top: 1.5rem;
  left: 2rem;
}
@media (min-width: 1140px) {
  .productive__card {
    padding: 4.5rem 3rem 3.5rem 3rem;
    width: 34rem;
  }
  .productive__card::before {
    top: 2rem;
    left: 3rem;
  }
}
.productive__paragraph {
  margin-bottom: 1rem;
  font-size: clamp(1rem, 1.3vw, 1.3rem);
  line-height: 1.8;
}
@media (min-width: 1140px) {
  .productive__paragraph {
    margin-bottom: 2rem;
  }
}
.productive__human-wrapper {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.productive__human {
  width: 3rem;
  border-radius: 50%;
}
.productive__human-name {
  font-size: 1rem;
  font-weight: 700;
}
.productive__human-position {
  font-size: 0.9rem;
  font-weight: 400;
}

@media (min-width: 810px) {
  .subscription__wrapper {
    text-align: left;
    max-width: 46rem;
  }
}
@media (min-width: 1140px) {
  .subscription__wrapper {
    grid-column: 1/2;
  }
}

.container__header {
  padding: 3rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 810px) {
  .container__header {
    padding: 4rem;
  }
}
@media (min-width: 1140px) {
  .container__header {
    padding: 6.5rem 8rem;
  }
}
.container__accessible {
  padding: 6rem 3rem;
  text-align: center;
}
@media (min-width: 810px) {
  .container__accessible {
    padding: 2rem 4rem 6rem 4rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
}
@media (min-width: 1140px) {
  .container__accessible {
    padding: 2rem 8rem 6rem 8rem;
    margin-bottom: 25rem;
  }
}
.container__productive {
  padding: 5rem 0;
  position: relative;
}
@media (min-width: 810px) {
  .container__productive {
    padding: 4rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
}
@media (min-width: 1140px) {
  .container__productive {
    padding: 8rem;
  }
}
.container__subscription {
  background-color: #585989;
  color: #f6f6fe;
  text-align: center;
  padding: 5rem 4rem 6rem 4rem;
}
@media (min-width: 810px) {
  .container__subscription {
    display: flex;
    justify-content: space-between;
    align-items: start;
  }
}
@media (min-width: 1140px) {
  .container__subscription {
    padding: 10rem 8rem 6rem 8rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.footer {
  background-color: #070439;
  color: #f6f6fe;
  padding: 5rem 3rem;
}
@media (min-width: 1140px) {
  .footer {
    padding: 10rem 10rem 5rem;
  }
}
@media (min-width: 700px) {
  .footer__info {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr auto;
  }
}
@media (min-width: 1140px) {
  .footer__info {
    grid-template-columns: auto 1fr auto;
  }
}
.footer__contacts {
  padding: 0 0 0 4rem;
}
.footer__location {
  position: relative;
  margin-bottom: 2rem;
  line-height: 2.5rem;
  max-width: 37rem;
}
@media (min-width: 680px) {
  .footer__location {
    padding-right: 5rem;
  }
}
.footer__location::before {
  content: url("./../images/icon-location.svg");
  position: absolute;
  width: 1rem;
  height: 1rem;
  top: 0.5rem;
  left: -4rem;
}
.footer__number {
  position: relative;
  margin-bottom: 2rem;
}
.footer__number::before {
  content: url("./../images/icon-phone.svg");
  position: absolute;
  width: 1rem;
  height: 1rem;
  top: 0.5rem;
  left: -4rem;
}
.footer__email {
  position: relative;
}
.footer__email::before {
  content: url("./../images/icon-email.svg");
  position: absolute;
  width: 1rem;
  height: 1rem;
  top: 0.5rem;
  left: -4rem;
}
.footer__menu {
  margin: 6rem 0;
}
@media (min-width: 700px) {
  .footer__menu {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
}
.footer__list {
  margin-bottom: 5rem;
}
@media (min-width: 1140px) {
  .footer__list {
    margin: 0;
  }
}
.footer__item {
  margin-bottom: 1.5rem;
}
.footer__link {
  color: #f6f6fe;
  transition: all 0.3s;
}
.footer__link:hover {
  color: #3065f8;
}
@media (min-width: 700px) {
  .footer__social {
    grid-column: 1/3;
  }
}
@media (min-width: 1140px) {
  .footer__social {
    grid-column: unset;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}
.footer__social--list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.footer__social--link:hover .footer__social--svg {
  border: 0.1rem solid #3065f8;
}
.footer__social--link:hover .footer__social--svg path {
  fill: #3065f8;
}
.footer__social--link svg {
  width: 2.5rem;
  height: 2.5rem;
  border: 0.1rem solid #f6f6fe;
  padding: 0.5rem;
  border-radius: 50%;
  transition: all 0.3s;
}
.footer__social--svg path {
  fill: #f6f6fe;
  transition: all 0.3s;
}
.footer__attribution {
  color: #bfbfbf;
  width: 100%;
  font-size: 1rem;
  text-align: center;
  margin: 0 auto;
  padding: 1rem 0 0 0;
}
.footer__attribution-link:link, .footer__attribution-link:visited {
  text-transform: uppercase;
  color: #bfbfbf;
  text-decoration: none;
  font-weight: 400;
  transition: all 0.3s;
}
.footer__attribution-link:hover, .footer__attribution-link:active {
  color: #3065f8;
  text-decoration: underline;
}

/*# sourceMappingURL=style.css.map */
