@use "../abstracts/index" as *;

.container {
  &__header {
    padding: 3rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__accessible {
    padding: 6rem 3rem;
    text-align: center;

    @media (min-width: 810px) {
      //   display: grid;
      //   grid-template-columns: 1fr 1fr;
      display: flex;
      flex-direction: row-reverse;
    }
  }

  &__productive {
    padding: 5rem 0;
    position: relative;

    @media (min-width: 810px) {
      //   display: grid;
      //   grid-template-columns: 60% 40%;
      display: flex;
      flex-direction: row-reverse;
    }
  }

  &__subscription {
    background-color: $color-desaturatedBlue;
    color: $color-lightGrayishBlue;
    text-align: center;
    padding: 5rem 4rem 6rem 4rem;

    @media (min-width: 810px) {
      display: flex;
      justify-content: space-between;
      align-items: start;
    }
  }
}
