@use "../abstracts/index" as *;

.container {
  &__header {
    padding: 3rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (min-width: 810px) {
      padding: 4rem;
    }

    @media (min-width: 1140px) {
      padding: 6.5rem 8rem;
    }
  }

  &__accessible {
    padding: 6rem 3rem;
    text-align: center;

    @media (min-width: 810px) {
      //   display: grid;
      //   grid-template-columns: 1fr 1fr;
      padding: 2rem 4rem 6rem 4rem;
      display: flex;
      flex-direction: row-reverse;
      justify-content: center;
      align-items: center;
      gap: 2rem;
    }

    @media (min-width: 1140px) {
      padding: 2rem 8rem 6rem 8rem;
      margin-bottom: 25rem;
    }
  }

  &__productive {
    padding: 5rem 0;
    position: relative;

    @media (min-width: 810px) {
      //   display: grid;
      //   grid-template-columns: 60% 40%;
      padding: 4rem;
      display: flex;
      flex-direction: row-reverse;
      justify-content: center;
      align-items: center;
      gap: 2rem;
    }

    @media (min-width: 1140px) {
      padding: 8rem;
    }
  }

  &__subscription {
    background-color: $color-desaturatedBlue;
    color: $color-lightGrayishBlue;
    text-align: center;
    padding: 5rem 4rem 6rem 4rem;

    @media (min-width: 810px) {
      display: flex;
      justify-content: space-between;
      align-items: start;
    }

    @media (min-width: 1140px) {
      padding: 10rem 8rem 6rem 8rem;
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }
}
