@use "../abstracts/index" as *;

.fylo {
  &__header {
  }

  &__logo {
    width: 8rem;
    &--header {
      @media (min-width: 810px) {
        width: 17rem;
      }
    }

    &--footer {
      width: 17rem;
      margin-bottom: 5rem;
      filter: brightness(0) invert(1);

      @media (min-width: 1140px) {
        margin-bottom: 3rem;
      }
    }
  }

  &__list {
    display: flex;
    align-items: center;
    gap: 3rem;
    font-size: 1.2rem;
    @media (min-width: 810px) {
      gap: 5rem;
    }
  }

  &__item {
  }

  &__link {
    color: $color-veryDarkBlue;
    @media (min-width: 810px) {
      font-size: 1.7rem;
    }
  }

  &__main {
  }

  &__title {
    font-family: $font-primary;
    &--primary {
      margin: 5rem 0 2rem;
      line-height: 1.5;
      font-size: clamp(2.3rem, 3vw, 4rem);
      @media (min-width: 810px) {
        margin: 0 0 2rem;
      }
    }

    &--secondary {
      font-size: clamp(1.6rem, 2.8vw, 4rem);
      text-align: center;
      margin-bottom: 3rem;

      @media (min-width: 810px) {
        text-align: left;
      }
    }

    &--tertiary {
      font-size: clamp(2.3rem, 3vw, 3rem);
      margin-bottom: 2rem;
    }
  }

  &__subtitle {
    font-size: clamp(1.5rem, 1.7vw, 1.8rem);
    line-height: 1.5;
    margin-bottom: 3rem;

    @media (min-width: 810px) {
      max-width: 59rem;
      line-height: 1.3;
    }

    &--primary {
    }

    &--secondary {
      //   color: $color-desaturatedBlue;
      @media (min-width: 1140px) {
        font-size: 1.6rem;
        max-width: 54rem;
      }
    }

    &--tertiary {
      @media (min-width: 1140px) {
        color: $color-lightGrayishBlue;
        font-size: 1.6rem;
        max-width: 55rem;
      }
    }
  }
}
