@use "../abstracts/index" as *;

.fylo {
  &__header {
  }

  &__logo {
    width: 8rem;
    &--header {
    }

    &--footer {
      width: 17rem;
      margin-bottom: 5rem;
      filter: brightness(0) invert(1);
    }
  }

  &__list {
    display: flex;
    align-items: center;
    gap: 3rem;
    font-size: 1.2rem;
  }

  &__item {
  }

  &__link {
    color: $color-veryDarkBlue;
  }

  &__main {
  }

  &__title {
    &--primary {
      margin: 5rem 0 2rem;
      line-height: 1.5;
      font-size: clamp(2.3rem, 3vw, 4rem);
      @media (min-width: 810px) {
        margin: 0 0 2rem;
      }
    }

    &--secondary {
      font-size: 1.6rem;
      text-align: center;
      margin-bottom: 3rem;

      @media (min-width: 810px) {
        text-align: left;
      }
    }

    &--tertiary {
      margin-bottom: 2rem;
    }
  }

  &__subtitle {
    font-size: clamp(1.5rem, 1.7vw, 2rem);
    line-height: 1.5;
    margin-bottom: 3rem;

    &--primary {
    }

    &--secondary {
      color: $color-desaturatedBlue;
    }

    &--tertiary {
    }
  }
}
