$color-veryDarkBlue: hsl(243, 87%, 12%);
$color-desaturatedBlue: hsl(238, 22%, 44%);
$color-brightBlue: hsl(224, 93%, 58%);
$color-moderateCyan: hsl(170, 45%, 43%);
$color-lightGrayishBlue: hsl(240, 75%, 98%);
$color-lightGray: hsl(0, 0%, 75%);

$font-primary: "Raleway", sans-serif; // - Weights: 400, 700
$font-secondary: "Open Sans", sans-serif; // - Weights: 400
